.ingredientDetails {
  text-align: center;
}

.descriptionWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 24px;
}

.itemImage {
  margin-bottom: 16px;
}

.itemDescription {
  text-align: center;
}

.itemDescription p {
  font-size: 16px;
  line-height: 24px;
  color: #8585AD;
  font-weight: 400;
  margin: 8px 0;
}